[package]
name = "hypervisor-fw"
version = "0.1.0"
authors = ["Rob Bradford <robert.bradford@intel.com>"]
edition = "2018"

# the profile used for `cargo build`
[profile.dev]
panic = "abort" # disable stack unwinding on panic

# the profile used for `cargo build --release`
[profile.release]
panic = "abort" # disable stack unwinding on panic

[dependencies]
cpuio = "*"
spin = "0.4.9"
r-efi = "1.0.0"

[dependencies.lazy_static]
version = "1.0"
features = ["spin_no_std"]

