[package]
name = "hypervisor-fw"
version = "0.3.0"
authors = ["Rob Bradford <robert.bradford@intel.com>"]
edition = "2018"

# Despite "panic-strategy": "abort" being set in target.json, panic = "abort" is
# needed here to make "cargo check" and "cargo clippy" run without errors.
[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = "thin"

[features]
default = ["log-serial", "log-panic"]
# Have the log! macro write to serial output. Disabling this significantly
# reduces code size, but makes debugging essentially impossible
log-serial = []
# Log panics to serial output. Disabling this (without disabling log-serial)
# gets you most of the code size reduction, without losing _all_ debugging.
log-panic = ["log-serial"]
integration_tests = []
coreboot = []

[dependencies]
bitflags = "1.2.1"
x86_64 = "0.14.1"
atomic_refcell = "0.1.7"
r-efi = "3.2.0"
uart_16550 = "0.2.13"
linked_list_allocator = "0.8.11"

[dev-dependencies]
rand = "0.8.3"
ssh2 = "0.9.1"
tempfile = "3.2.0"
